<!doctype html>
<html>
	<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
		<style>
			body {
				background-color: #112233;
				color: #eeeeee;
				font-family: Helvetica;
				text-align: center;
			}

			h1{
				margin: 100px;
				font-size: 60px;
			}

		    .home{
    			text-align: center;
    		}

    		#homebutton{
    			background-color: #f04d99;
 		   }

		</style>
		</head>
   <body>
   
      <h1>Uh-oh, Looks like we couldn't find that one. <a href="http://{{ site }}/home">return home</a></h1>
      
   </body>
</html>
